data/*hdf5 filter=lfs diff=lfs merge=lfs -text
data/TablesGaiaDR2HRDpaper/ filter=lfs diff=lfs merge=lfs -text
data/TablesDias2014/ filter=lfs diff=lfs merge=lfs -text
data/TablesKarchenko2013/ filter=lfs diff=lfs merge=lfs -text
data/TablesCantatGaudin2018/ filter=lfs diff=lfs merge=lfs -text
data/TablesBouma2019/*.csv filter=lfs diff=lfs merge=lfs -text
data/TablesBossini2019/ filter=lfs diff=lfs merge=lfs -text
data/HARPS_RVBank_v1.csv filter=lfs diff=lfs merge=lfs -text
data/HARPS_RVBank_table.csv filter=lfs diff=lfs merge=lfs -text
data/harps_rvs.hdf5 filter=lfs diff=lfs merge=lfs -text
data/TablesGagne2018 filter=lfs diff=lfs merge=lfs -text
