chronos/data/*hdf5 filter=lfs diff=lfs merge=lfs -text
chronos/data/HARPS_RVBank_v1.csv filter=lfs diff=lfs merge=lfs -text
chronos/data/harps_rvs.hdf5 filter=lfs diff=lfs merge=lfs -text
chronos/data/K2fields.txt filter=lfs diff=lfs merge=lfs -text
chronos/data/cdips_fits_inventory.txt filter=lfs diff=lfs merge=lfs -text
chronos/data/toi_gaia_params.hdf5 filter=lfs diff=lfs merge=lfs -text
chronos/data/cdips_candidates.hdf5 filter=lfs diff=lfs merge=lfs -text
chronos/data/Bouma2019/master_list.csv filter=lfs diff=lfs merge=lfs -text
chronos/data/Bouma2019/OC_MG_FINAL_v0.3_publishable.csv filter=lfs diff=lfs merge=lfs -text
chronos/data/Bouma2019/parse[[:space:]]Bouma[[:space:]]published[[:space:]]table.ipynb filter=lfs diff=lfs merge=lfs -text
chronos/data/Bouma2019/apjsab4a7et1_mrt_header.txt filter=lfs diff=lfs merge=lfs -text
chronos/data/Bouma2019/cdips_candidates.txt filter=lfs diff=lfs merge=lfs -text
chronos/data/Bouma2019/data_source.txt filter=lfs diff=lfs merge=lfs -text
