data/*hdf5 filter=lfs diff=lfs merge=lfs -text
data/TablesGaiaDR2HRDpaper/ filter=lfs diff=lfs merge=lfs -text
data/TablesDias2014/ filter=lfs diff=lfs merge=lfs -text
data/TablesKarchenko2013/ filter=lfs diff=lfs merge=lfs -text
data/TablesCantatGaudin2018/ filter=lfs diff=lfs merge=lfs -text
data/TablesBouma2019/*.csv filter=lfs diff=lfs merge=lfs -text
data/TablesBossini2019/ filter=lfs diff=lfs merge=lfs -text
data/HARPS_RVBank_v1.csv filter=lfs diff=lfs merge=lfs -text
data/HARPS_RVBank_table.csv filter=lfs diff=lfs merge=lfs -text
data/harps_rvs.hdf5 filter=lfs diff=lfs merge=lfs -text
data/TablesGagne2018 filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
data/5337273743301313536_Loden_306_xyz.png filter=lfs diff=lfs merge=lfs -text
data/Hyades_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/Loden_306_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/TOIs.csv filter=lfs diff=lfs merge=lfs -text
data/5519619186857962112_Vel_OB2_xyz.png filter=lfs diff=lfs merge=lfs -text
data/Cody2018_Kepler_K2_open_clusters.txt filter=lfs diff=lfs merge=lfs -text
data/mamajek_table.csv filter=lfs diff=lfs merge=lfs -text
data/NGC_1901_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/NGC_2632_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/Trumpler_10_hrd.png filter=lfs diff=lfs merge=lfs -text
data/Trumpler_10_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/2058880504233056768_Ruprecht_172_xyz.png filter=lfs diff=lfs merge=lfs -text
data/430549069612992000_Stock_20_cmd.png filter=lfs diff=lfs merge=lfs -text
data/K2fields.txt filter=lfs diff=lfs merge=lfs -text
data/NGC_1039_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/2058880504233056768_Ruprecht_172_cmd.png filter=lfs diff=lfs merge=lfs -text
data/5290721997195236480_NGC_2516_cmd.png filter=lfs diff=lfs merge=lfs -text
data/NGC2451A_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/Platais_5_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/Pozzo_1_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/Stock_20_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/toiids.txt filter=lfs diff=lfs merge=lfs -text
data/2014335027560174976_RSG_7_cmd.png filter=lfs diff=lfs merge=lfs -text
data/2014335027560174976_RSG_7_xyz.png filter=lfs diff=lfs merge=lfs -text
data/cdips_fits_inventory.txt filter=lfs diff=lfs merge=lfs -text
data/TablesBouma2019 filter=lfs diff=lfs merge=lfs -text
data/toi_gaia_params.hdf5 filter=lfs diff=lfs merge=lfs -text
data/Vel_OB2_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/3099242937596214272_NGC_2306_cmd.png filter=lfs diff=lfs merge=lfs -text
data/5251470948229949568_IC_2602_xyz.png filter=lfs diff=lfs merge=lfs -text
data/NGC_2516_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/5290968085934209152_NGC_2516_cmd.png filter=lfs diff=lfs merge=lfs -text
data/IC_2602_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/Melotte_20_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/RSG_7_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/TablesFaherty2018 filter=lfs diff=lfs merge=lfs -text
data/THA_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/COL_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/NGC_2451B_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/NGC_2306_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/NGC_2422_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/Rebull2018_Table1.tsv filter=lfs diff=lfs merge=lfs -text
data/5337273743301313536_Loden_306_cmd.png filter=lfs diff=lfs merge=lfs -text
data/Bouy2009_Table3.tsv filter=lfs diff=lfs merge=lfs -text
data/Platais_8_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/Rizzuto2017_Table2.csv filter=lfs diff=lfs merge=lfs -text
data/3099242937596214272_NGC_2306_xyz.png filter=lfs diff=lfs merge=lfs -text
data/Giacalone2020 filter=lfs diff=lfs merge=lfs -text
data/NGC_1641_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/NGC_2451A_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/Yu2019_sector6.txt filter=lfs diff=lfs merge=lfs -text
data/5251470948229949568_IC_2602_cmd.png filter=lfs diff=lfs merge=lfs -text
data/5290721997195236480_NGC_2516_xyz.png filter=lfs diff=lfs merge=lfs -text
data/5525188767305211904_Trumpler_10_cmd.png filter=lfs diff=lfs merge=lfs -text
data/cdips_candidates.hdf5 filter=lfs diff=lfs merge=lfs -text
data/Curtis2018_PisEriStream.txt filter=lfs diff=lfs merge=lfs -text
data/NGC_2232_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/tfop_sg2_spec_table.csv filter=lfs diff=lfs merge=lfs -text
data/__init__.py filter=lfs diff=lfs merge=lfs -text
data/Waterloo_1_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/ASCC_16_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/cdips_lc.png filter=lfs diff=lfs merge=lfs -text
data/NGC_225_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/Roser2011_Hyades.tsv filter=lfs diff=lfs merge=lfs -text
data/5290968085934209152_NGC_2516_xyz.png filter=lfs diff=lfs merge=lfs -text
data/5519619186857962112_Vel_OB2_cmd.png filter=lfs diff=lfs merge=lfs -text
data/5525188767305211904_Trumpler_10_xyz.png filter=lfs diff=lfs merge=lfs -text
data/Grandjean2020 filter=lfs diff=lfs merge=lfs -text
data/IC_348_members.hdf5 filter=lfs diff=lfs merge=lfs -text
data/Ruprecht_172_members.hdf5 filter=lfs diff=lfs merge=lfs -text
