scipy==1.5.2
#numpy
astroquery==0.4
lightkurve
astropy
pandas #==1.0.1
tqdm==4.28.1
astroplan
transitleastsquares==1.0.23
wotan==1.7
scikit-image #==0.16.2 #just for measure.find_contours
pyvo #for query_eso()
# triceratops==0.2.1
flammkuchen
#deepdish==0.3.6
#-e git://github.com/rodluger/k2plr.git@master#egg=k2plr
jupyter
notebook
pytest
