astroquery==0.4
lightkurve==1.9.0
astropy==4.0
pandas==1.0.1
tqdm==4.28.1
astroplan==0.6
transitleastsquares==1.0.23
wotan==1.7
scikit-image==0.16.2 #just for measure.find_contours
# triceratops==0.2.1
deepdish==0.3.6
-e git://github.com/rodluger/k2plr.git@master#egg=k2plr
